/*will change*/
:root {
  --bg-color: #a7dbd8;
  --card-color: #e3a718;
  --text-color: #212121;
  --alt-text-color: #000000;
  --accent-color: #ff0000;
}

/*BASE STYLES*/

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Chivo", sans-serif;
}

h1 {
  font-family: "Chivo Mono", monospace;
  font-size: 3.7rem;
  letter-spacing: 0.2rem;
  margin: 20px;
  text-align: center;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

select {
  display: block;
  margin: 20px auto;
}

footer {
  font-family: "Chivo Mono", monospace;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/*GRID LAYOUT*/

.city-card-grid {
  display: grid;
  gap: 10px;
  grid: 1fr / 1fr;
  margin: 15px auto;
  width: 80%;
}

/*CARD STYLES*/

.city-card {
  align-items: end;
  background-color: #ffffff;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template:
    "title time"
    "date date"
    / 3fr 2fr;
  justify-items: end;
  margin: 5px;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}

/*CARD TEXT STYLES*/

.city-title {
  align-self: start;
  font-size: calc(1.7rem + 1vw);
  font-family: "Chivo", sans-serif;
  font-weight: 500;
  grid-area: title;
  justify-self: start;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city-date {
  font-family: "Chivo", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  /* grid-area: 2 / 1 / 3 / 3; */
  grid-area: date;
  margin: 5px 0 0;
  text-align: right;
}

.city-time {
  align-self: end;
  font-family: "Chivo", sans-serif;
  font-size: calc(2.2rem + 0.8vw);
  font-weight: bold;
  /* grid-area: 1 / 2 / 2 / 3; */
  grid-area: time;
  justify-self: end;
  margin-left: 5px;
  overflow: visible;
}

.tz-code {
  display: none;
  grid-area: code;
}

/*OTHER ELEMENTS*/

a:hover,
button:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: calc(0.5rem + 9vw);
  }
}

/* Styles for large phones */
@media screen and (min-width: 500px) {
  .city-card-grid {
    width: 70%;
  }
}

/*Styles for tablets ++*/
@media screen and (min-width: 600px) {
  .city-card-grid {
    grid: auto-flow 1fr / repeat(2, 1fr);
    width: 80%;
  }
  .city-title {
    font-size: calc(1.2rem + 0.8vw);
  }
  .city-time {
    font-size: calc(1.5rem + 0.8vw);
  }
  .city-card.main {
    grid-area: 1 / 1 / 3 / 2;
    grid-template:
      "title title" 1fr
      "time time" 50%
      "code date" 1fr;
  }
  .city-card.main .city-title {
    align-self: first baseline;
    font-size: calc(1.8rem + 0.8vw);
    justify-self: center;
  }
  .city-card.main .city-time {
    align-self: center;
    font-size: calc(3rem + 0.8vw);
    justify-self: center;
  }
  .tz-code {
    display: inline;
    color: #000000b8;
    font-size: 1.7rem;
    font-weight: 300;
    justify-self: left;
    margin: 0px 10px;
  }
}

/*Styles for desktops ++*/
@media screen and (min-width: 900px) {
  .city-card-grid {
    grid: auto-flow 1fr / 1fr 30% 1fr;
    max-width: 1000px;
    width: 85%;
  }
  .city-card.additional {
    grid-template:
      "title time"
      "date date"
      / 1fr 1fr;
  }
  .city-card.main {
    grid-area: 1 / 2 / 3 / 3;
    grid-template:
      "title title" 2fr
      "time time" 40%
      "code code" 20%
      "date date" 1fr;
  }
  .city-title {
    font-size: calc(1.2rem + 0.5vw);
  }
  .city-card.main .city-title {
    font-size: calc(2vw + 2vh);
  }
  .tz-code {
    justify-self: center;
  }
}

/*Stops font size scaling with viewport past this point*/
@media screen and (min-width: 1200px) {
  .city-title {
    font-size: 1.6rem;
  }
}
