/*will change*/
:root {
  --bg-color: #a7dbd8;
  --card-color: #e3a718;
  --text-color: #212121;
  --accent-color: #ff0000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "PT Mono", sans-serif;
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

select {
  display: block;
  margin: 20px auto;
}

footer {
  font-family: "PT Mono", monospace;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.city-card-grid {
  display: grid;
  gap: 10px;
  grid: 1fr / 1fr;
  margin: 15px auto;
  width: 80%;
}

.city-card {
  align-items: end;
  display: grid;
  background-color: #ffffff;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  /* grid: 2fr 1fr / 1.5fr 1fr; */
  grid-template:
    "name time"
    "date date"
    / 3fr 2fr;
  justify-items: end;
  margin: 5px;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}

/* .city-card.current {
  padding: 10px 10px 5px;
} */

/* .city-card.current .city-name {
  font-size: calc(1.7rem + 1vw);
}

.city-card.current .city-time {
  font-size: calc(2rem + 1vw);
} */

/* .city-info {
  flex-grow: 2;
  min-width: 0;
} */

.city-name {
  align-self: end;
  font-size: calc(1.7rem + 1vw);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  grid-area: name;
  justify-self: start;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city-date {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  /* grid-area: 2 / 1 / 3 / 3; */
  grid-area: date;
  margin: 5px 0 0;
}

.city-time {
  align-self: end;
  font-family: "Chivo", sans-serif;
  font-size: calc(2.2rem + 0.8vw);
  font-weight: bold;
  /* grid-area: 1 / 2 / 2 / 3; */
  grid-area: time;
  justify-self: end;
  margin-left: 5px;
  overflow: visible;
}

.ampm {
  font-size: calc(0.6rem + 0.5vw);
  font-weight: 400;
}

a:hover,
button:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: calc(0.5rem + 9vw);
  }
}

/* Styles for large phones */
@media screen and (min-width: 500px) {
  .city-card-grid {
    width: 70%;
  }
}

/*Styles for tablets*/
@media screen and (min-width: 600px) {
  .city-card-grid {
    grid: auto-flow 1fr / repeat(2, 1fr);
    width: 80%;
  }
  .city-name {
    font-size: calc(1.2rem + 0.8vw);
  }
  .city-time {
    font-size: calc(1.5rem + 0.8vw);
  }
  .city-card.current {
    grid-area: 1 / 1 / 3 / 2;
    grid-template:
      "name name"
      "time time"
      "date date";
  }
  .city-card.current .city-name {
    align-self: first baseline;
    font-size: calc(2rem + 0.8vw);
    justify-self: center;
  }
  .city-card.current .city-time {
    align-self: start;
    font-size: calc(3rem + 0.8vw);
    justify-self: center;
  }
}

/*Styles for desktop*/
@media screen and (min-width: 900px) {
  .city-card-grid {
    grid: auto-flow 1fr / 35% 30% 35%;
    max-width: 750px;
    width: 80%;
  }
  .city-card.current {
    grid-area: 1 / 2 / 3 / 3;
  }
  .city-name {
    font-size: calc(1.3rem + 0.5vw);
  }
}

/*Stops font size scaling with viewport past this point*/
@media screen and (min-width: 1200px) {
  .city-name {
    font-size: 1.6rem;
  }
}
